.navBar {
  height: 8vh;
  width: 100%;
  background-color: #A64EC9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

.homeTitle {
  h2 {
    color: white;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
  }
}

.logoNavBar {
  height: 40px;
  width: auto;
  padding-top: 5px;
  padding-left: 20px;
}

.navBarLinksContainer {
  display: flex;
  width: 25%;
  height: 8vh;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 20px;
  h5 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
  }
}

.getThisAppIcon {
  height: 35px;
  width: auto;
}

.getThisAppIcon:hover {
  cursor: pointer;
}

.navButton {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  height: 8vh;

  border: none;
  font: inherit;
  color: #A64EC9;
  cursor: pointer;
  background-color: #A64EC9;
  a {
    height: 8vh;
  }
  h5 {
    margin-bottom: 3vh;
  }
}

.navButton:hover {
  background-color: #17e9e0;
}
